		<!-- favicons -->
        <link rel="shortcut icon" href="/favicon.ico?v=412">
        <link rel="icon" href="/static/favicon-32.png" sizes="32x32">
        <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
        <link rel="apple-touch-icon" href="/touch-icon-ipad.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/touch-icon-iphone-retina.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/touch-icon-ipad-retina.png" sizes="152x152">
        <meta name="msapplication-TileImage" content="/pinned.png">
        <meta name="msapplication-TileColor" content="#f1463f">