            <div class="uk-flex uk-flex-center aa-color-grey1">

                <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-space-between" style="height: 92px;">
                    <img src="/static/logo-64.png" width="64" height="64" alt="">
                    &nbsp;&nbsp;
                    <blockquote style="border-left: 5px solid #ffffff;">
                    	<p class="uk-text-bold" style="color: #ffffff;"><%quote%></p>
                        <%if( label != "" ) {%>
                    	<small class="uk-text-muted1"><%label%></small>
                        <%}%>
                    </blockquote>
                </div>

            </div>

            <div class="uk-flex uk-flex-bottom uk-flex-space-between" style="height: 40px; line-height: 80%;">
                
                <div class="uk-flex-left">
                    <a class="aa-link-footer" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                        <span class="uk-text-small uk-text-bottom">Except as otherwise noted, the content of this page is licensed under the Creative Commons Attribution 4.0 International License.</span>
                    </a>
                </div>

            </div>